
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                Equipment
            </th>
            <th>
                Hospital
            </th>
            <th>
                Status
            </th>
            <th>
                Warranty Start Date
            </th>
            <th>
                Warranty Period
            </th>
            <th>
                Warranty End Date
            </th>
            <th>#. of Claims</th>
        </tr>
    </thead>

    
</table>


<!-- Imported styles on this page -->
<link rel="stylesheet" href="~/assets/js/datatables/responsive/css/datatables.responsive.css">
<link rel="stylesheet" href="~/assets/js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="~/assets/js/select2/select2.css">
