@model GROCERY.Models.USER

@{
    ViewBag.Title = "Users";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>

    var userTypesList = {};
    var users = {};

    $(document).ready(function () {
        
        //initializeUserTypesList();
        initializeUsersList();
    });

    function deleteActionConfirmation(id) {
        var txt;
        var r = confirm("Are you sure you want to delete this user?? Press OK if Yes otherwise Cancel!");
        if (r == true) {
            $.ajax({
                type: "GET",
                url: '/api/admin/deleteuser?uID=' + id,
                contentType: 'application/json',
                success: function (result) {
                    var res = jQuery.parseJSON(result);
                    if (res == 1) {
                        alert("Selected record is deleted successfully.");
                        initializeUsersList();
                    }
                    else {
                        alert("Failed to delete selected record.");
                    }

                },
                error: function (res) {
                    alert('failure: ' + res);
                }
            });
        }
    }


    function initializeUsersList() {
        $.ajax({
            type: "GET",
            url: '/api/admin/users',
            contentType: 'application/json',
            success: function (result) {
                users = jQuery.parseJSON(result);
                populateUsersTable();
            },
            error: function (res) {
                //console.log(res);
                alert('failure: ' + res);
            }
        });
    }

    function populateUsersTable() {
        var rows = '';
        for (i = 0; i < users.Table.length; i++) {
            var item = users.Table[i];
            rows = rows + '<tr><td>' + item.USER_ID + '</td><td>' + item.USERNAME + '</td><td>' + item.USER_TYPE_DESCRIPTION +
                        '</td><td><a style="color:blue" href ="Edit/' + item.USER_ID + '">Edit</a>'
                        + '<a style="color:red" href = "javascript:deleteActionConfirmation(' + item.USER_ID + ')">/Delete</a>'
                        + '<a style="color:green" href = "View/' + item.USER_ID + '">/View</a></td></tr>';
        }

        $("#usersTable").html(rows);

    }
    function initializeUserTypesList() {
        $.ajax({
            type: "GET",
            url: '/api/admin/usertypes',
            contentType: 'application/json',
            success: function (result) {
                userTypesList = jQuery.parseJSON(result);
                populateUserTypesDropDown();
            },
            error: function (res) {
                alert('failure: ' + res);
            }
        });
    }

    function populateUserTypesDropDown() {
        var options = "";
        for (i = 0; i < userTypesList.Table.length; i++) {
            var item = userTypesList.Table[i];
            options = options + '<option value="' + item.USER_TYPE_ID + '">' + item.DESCRIPTION + '</option>';
        }
        $("#userType_ID").html(options);
    }
</script>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/Home/Index">Grocery Store</a>
    </li>
    <li>User Management</li>
    <li class="breadcrumb-item active">Users</li>
</ol>

<h2>Users</h2>

<br />

<table class="table table-bordered datatable" id="table-1">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>User Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="usersTable"></tbody>
    <tfoot>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>User Type</th>
            <th>Action</th>
        </tr>
    </tfoot>
</table>

<br />