
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        debugger;
        //window.open('@Url.Action("Index", "Ad")');
        window.location = "/Ad/Index";



    });
</script>
