@model GROCERY.Models.PRODUCT

@{
    ViewBag.Title = "Products";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>

    var categoriesList = {};
    var subCategoriesList = {};
    var products = {};

    $(document).ready(function () {
       /* initializeCategoriesList();
        initializeSubCategoriesList();

        
        $("#cat_ID").change(function () {
            $("#sub_cat_ID").empty();
            initializeSubCategoriesList();
        });*/

        initializeProductsList();
    });

    function initializeProductsList() {
        $.ajax({
            type: "GET",
            url: '/api/product/products',
            contentType: 'application/json',
            success: function (result) {
                products = jQuery.parseJSON(result);
                populateProductsTable();
            },
            error: function (res) {
                console.log(res);
                alert('failure: ' + res);
            }
        });
    }

    function populateProductsTable()
    {
        var rows = '';
        for (i = 0; i < products.Table.length; i++) {
            var item = products.Table[i];
            rows = rows + '<tr><td>' + item.PRODUCT_ID + '</td><td>' + item.NAME + '</td><td>' + item.PRODUCT_DESCRIPTION + '</td><td>'
                        + item.CAT_DESCRIPTION + '</td><td>' + item.SUB_CATEGORY_DESCRIPTION + '</td><td>' + item.PRICE + '</td><td>'
                        + item.QUANTITY + '</td><td><a style="color:blue" href ="Update?pID=' + item.PRODUCT_ID + '">Edit</a>'
                        + '<a style="color:red" href ="Update/' + item.PRODUCT_ID + '">/Delete</a>'
                        + '<a style="color:green" href ="Update/' + item.PRODUCT_ID + '">/View</a></td></tr>';
        }

        $("#productsTable").html(rows);
        
    }

    function initializeCategoriesList() {
        $.ajax({
            type: "GET",
            url: '/api/product/categories',
            contentType: 'application/json',
            success: function (result) {
                categoriesList = jQuery.parseJSON(result);
                populateCategoriesDropDown();
            },
            error: function (res) {
                alert('failure: ' + res);
            }
        });
    }

    function initializeSubCategoriesList() {
        $.ajax({
            type: "GET",
            url: '/api/product/subcategories',
            contentType: 'application/json',
            success: function (result) {
                subCategoriesList = jQuery.parseJSON(result);
                populateSubCategoriesDropDown();
            },
            error: function (res) {
                alert('failure: ' + res);
            }
        });
    }

    function populateCategoriesDropDown() {
        var options = '<option value="-1">Select An Option</option>';
        for (i = 0; i < categoriesList.Table.length; i++) {
            var item = categoriesList.Table[i];
            options = options + '<option value="' + item.CATEGORY_ID + '">' + item.DESCRIPTION + '</option>';
        }
        $("#cat_ID").html(options);
    }

    function populateSubCategoriesDropDown()
    {
        var options = '<option value="-1">Select An Option</option>';
        var selectedCatID = $("#cat_ID").val();
        for (i = 0; i < subCategoriesList.Table.length; i++) {
            var item = subCategoriesList.Table[i];
            if (selectedCatID == item.CATEGORY_ID)
                options = options + '<option value="' + item.SUB_CATEGORY_ID + '">' + item.DESCRIPTION + '</option>';
        }
        $("#sub_cat_ID").html(options);
    }
</script>


<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/Home/Index">Grocery Store</a>
    </li>
    <li>Product Management</li>
    <li class="breadcrumb-item active">Products</li>
</ol>

<h2>Products</h2>

<br />

<table class="table table-bordered datatable" id="table-1">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="productsTable"></tbody>
    <tfoot>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </tfoot>
</table>

<br />